.login-container {
  margin-top: 100px; /* Ajusta este valor según la distancia que desees */
}

.card {
  padding: 20px;
  width: 350px;
  margin-top: 20px; /* Este valor también puedes ajustarlo */
}
