<app-header></app-header>
<div class="tarea-container d-flex align-items-center justify-content-center">
  <div class="card shadow-lg p-4 rounded-4">
    <h2 class="text-center text-primary fw-bold mb-3">Nueva Tarea</h2>
    <div *ngIf="errorMessage" class="alert alert-danger text-center py-2">
        {{ errorMessage }}
      </div>
<form (ngSubmit)="onSubmit()">
  <!-- Titulo -->
  <div class="mb-3">
    <input type="text" [(ngModel)]="nuevaTarea.titulo" name="titulo" class="form-control rounded-3" placeholder="Titulo" required>
  </div>
  <p *ngIf="titleEmpty" class="invalid-feedback">{{titleError}}</p>
  <!-- Descrición -->
  <div class="mb-3">
    <input type="text" [(ngModel)]="nuevaTarea.description" name="descripción" class="form-control rounded-3" placeholder="Descripción" required>
  </div>
  <p *ngIf="descripcionEmpty" class="invalid-feedback">{{descripcionError}}</p>
  <!-- Prioridad -->
<div class="mb-3">
  <label class="form-label fw-semibold">Prioridad</label>
  <div class="d-flex gap-3">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="prioridad" [value]="0" [(ngModel)]="nuevaTarea.prioridad" id="prioridad-baja" checked/>
      <label class="form-check-label" for="prioridad-baja">Baja</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="prioridad" [value]="1" [(ngModel)]="nuevaTarea.prioridad" id="prioridad-media"/>
      <label class="form-check-label" for="prioridad-media">Media</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="prioridad" [value]="2" [(ngModel)]="nuevaTarea.prioridad" id="prioridad-alta"/>
      <label class="form-check-label" for="prioridad-alta">Alta</label>
    </div>
  </div>
</div>
  <button type="submit" class="btn btn-primary w-100 rounded-3 fw-semibold">Alta</button>
</form>
</div>
</div>